@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
	var ChangeType=TknParams.ChangeType.Value.ToString(); 
  if(ChangeType=="Breaking Change")
  	@: <span style="color: red; font-weight: bold;">Breaking Change</span>
  else
  	@ChangeType

}